.loader{
    background-color: blue;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.dot{
    border-radius: 100%;
    border: 5px solid #fff;
    margin: 10px;
}
.dot:nth-child(1){
    animation: preloader .6s ease-in-out alternate infinite;
}
.dot:nth-child(2){
    animation: preloader .6s ease-in-out alternate .2s infinite;
}
.dot:nth-child(3){
    animation: preloader .6s ease-in-out alternate .4s infinite;
}
@keyframes preloader {
    100%{
        transform: scale(2);
    }
}
